
<%- include("header") %>

<div class="formDiv">
    <a href="/Register"><button class="btn" >REGISTER</button></a>
    <a href="/ReadAll"><button class="btn" >Read All</button></a>
    <a href="/Delete"><button class="btn" >Delete</button></a>
</div>

<%- include("footer") %>
